body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.rtsp-player {
  height: 400px;
  width: 400px;
  margin: 0 auto;
}

.close-rtsp-player {
  display: inline-block;
  cursor: pointer;
}

.user-elem {
  margin-top: 10px;
}